<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>Houston Catslist</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <style>
        img {
            padding: 5px; /* Some padding */
            width: 60px; /* Set a small width */
            height: 60px;
            }

            /* Add a hover effect (blue shadow) */
        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
            }

    </style>

  </head>

  <body>
    <div class="container">
        <div class="row">
            <div class="col-3 bg-light border-right border-left border-secondary">
                <h1 class="text-center">catslist</h1>
                <ul class="list-unstyled">   
                    <!-- <li class="text-center"><a href="/newlisting">create a posting</a></li>        -->
                    <li class="text-center"><a href="/user">my account</a></li>  
                </ul>
                <p class="text-center"><a href="#">event calendar</a></p>
                <table class="table-bordered mx-auto">
                    <tr class="days">
                        {{#days}}<td class="text-center">{{.}}</td>{{/days}}                      
                    </tr>
                    <tr>
                        {{#week1}}<td class="text-center">{{.}}</td>{{/week1}}    
                    </tr>
                    <tr>
                        {{#week2}}<td class="text-center">{{.}}</td>{{/week2}}      
                    </tr>
                    <tr>
                        {{#week3}}<td class="text-center">{{.}}</td>{{/week3}}       
                    </tr>
                    <tr>
                        {{#week4}}<td class="text-center">{{.}}</td>{{/week4}}       
                    </tr>
                </table>
                <ul class="list-unstyled">
                    {{#resources}}
                        <li class="text-center"><a href="#">{{{.}}}</li>
                    {{/resources}}           
                  
                </ul>               
                <ul class="list-unstyled"> 
                    {{#about}}
                        <li class="text-center"><a href="#">{{.}}</li>
                    {{/about}}          
                </ul>
            </div>

            <div class="col">
                <h2 class="text-center bg-light border-top border-bottom border-secondary">houston, TX</h2>
                <h4 class="text-center bg-light border-top border-bottom border-secondary">for sale</h4>
                <div class="text-left">{{{listingsHTML}}}</div>
            </div>


            <div class="col-2 bg-light border-right border-left border-secondary"> 
                <p class="text-center"><a href="">nearby cl</a></p>  
                <ul class="list-unstyled">
                    {{#cities}}
                        <li class="text-center"><a href="#">{{.}}</li>
                    {{/cities}} 
                </ul>        
            </div>
        </div>
    </div>
      <script src="main.js"></script>

  </body>

</html>
