<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>Houston Faux Craigslist</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
  </head>

  
  <div class="col-5 mx-auto mt-5">
    <div class="card">   
      <h2 class="card-header text-center">Login</h2>
      <div class="card-body social-btn">
          <a href="/auth/github" class="btn btn-dark btn-block p-2"><i class="fab fa-github"></i> Login with <b>Github</b></a>
          <a href="/auth/facebook" class="btn btn-primary btn-block p-2"><i class="fa fa-facebook"></i>Login with <b>Facebook</b></a>
      </div>    
    </div>
  </div>

</html>