<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>Houston Faux Craigslist</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
  </head>
  <body>
    
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="/" class="navbar-brand">Craigslist</a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <span class="nav-item nav-link">{{{userName}}}</span>
                <a href="/logout" class="nav-item nav-link">Logout</a>
            </div>
        </div>
    </nav>
    
   {{! <div class="row">
        <div class="col">
          <h2 class="text-center"><a href="/newlisting">create a posting</a></h2>
        </div>
      </div>
     }}
<div class="card" style="width: 100rem;">
  <div class="card-body">
    <h5 class="card-title">Welcome Back {{{req.user.firstName}}}!</h5>
    <h6 class="card-subtitle mb-2 text-muted">Postings</h6>
    <p class="card-text">
              <ul>{{{userListingHTML}}}</ul>  
      
    </p>
    {{! <a href="/newlisting" class="card-link">Create New Post</a> }}
    {{! <a href="#" class="card-link">Another link</a> }}
  </div>
</div>
<br>
<footer>
<div class="text-center">
      <a href="/newlisting" class="btn btn-primary">Create new posting</a>
</div>
</footer>
    
  
  
  
  </body>
</html>