<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>Houston Faux Craigslist</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
  </head>
  <body>
    
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="/" class="navbar-brand">Craigslist</a>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                <span class="nav-item nav-link">{{{userName}}}</span>
                <a href="/logout" class="nav-item nav-link">Logout</a>
            </div>
        </div>
    </nav>
    <html>
       <div class="row">
        <div class="col">
          <h2 class="text-center"><a href="/newlisting">create a posting</a></h2>
        </div>
      </div>
    </html>
  
  </body>
</html>